@mixin hidden{
  display: none !important;
  visibility: hidden !important;
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}

.m-0-a{
    display: block !important;;
  margin-left: auto !important;
  margin-right: auto !important;
    width: 100%;
}

.t-ac{
    text-align: center !important;
}
