// HEADER
header
    // Top line
    .header-top-line
        .header-top-line__wrapper
            .header-top-line__strip.header-top-line__strip--grey.header-top-line__strip--grey-left
            .header-top-line__strip.header-top-line__strip--blue-1
            .header-top-line__strip.header-top-line__strip--blue-2
            .header-top-line__strip.header-top-line__strip--blue-3
            .header-top-line__strip.header-top-line__strip--blue-4
            .header-top-line__strip.header-top-line__strip--grey.header-top-line__strip--grey-right

    // Header menu
    nav.header
        .container
            // Language change
            .header__lang
                a(href="javascript:void(0)" title="Change website language to Russian").header__lang-item.header__lang-item--current RU
                a(href="javascript:void(0)" title="Сменить язык сайта на Английский").header__lang-item EN
            // Logo
            a(href="index.html" title="НейроПартнер").header__logo-link
                img(data-original="img/neiropartner-logo.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").header__logo.lazyload
            // Header navigation
            ul.header__nav
                li.header__nav-item
                    a(href="projects.html" title="Проекты").header__nav-link Проекты
                li.header__nav-item
                    a(href="javascript:void(0)" title="Нейро").header__nav-link Нейро
                li.header__nav-item
                    a(href="consalting.html" title="Консалтинг").header__nav-link Консалтинг
                li.header__nav-item
                    a(href="ourworks.html" title="Наши работы").header__nav-link Наши работы
                li.header__nav-item
                    a(href="cooperation.html" title="Сотрудничество").header__nav-link.header__nav-link--partnership Сотрудничество
                li.header__nav-item
                    a(href="contacts.html" title="Контакты").header__nav-link.header__nav-link--contacts Контакты
