// Breadcrumbs
ul.breadcrumbs
    li.breadcrumbs__item
        a(href='ourworks.html' title='Наши работы').breadcrumbs__link Наши работы /
    li.breadcrumbs__item
        a(href='ourworks-articles.html' title='Статьи').breadcrumbs__link Статьи /