// CONSALTING
section.container.consalting
   .consalting__left
      img(data-original="img/consalting-img.png" alt="Консалтинг от НейроПартнер" title="Консалтинг от НейроПартнер").consalting__img.lazyload
   .consalting__right
      h2.consalting__title Консалтинг
      p.consalting__text С целью популяризации новых экспериментальных и нейрореабилитационных технологий специалистами НейроПартнера проводятся лекции, семинары, индивидуальное обучение персонала научных лабораторий и клиник по различным темам
      p.consalting__text Наша деятельность основывается на многолетнем опыте исследований, в ходе которых были созданы уникальные экспериментальные модели для изучения нервной системы в норме и патологии, разработаны новые нейрореабилитационные подходы
      a(href='consalting.html' title="Узнать больше о консалтинге от НейроПартнер").consalting__link Узнать больше