// FEEDBACK
.feedback-wrapper
    .container.feedback
        .feedback__left
            p.feedback__invite Принимаются предложения по инвестированию <br/>проектов
            p.feedback__subinvite Если вас заинтересовала наша деятельность и вы хотите сотрудничать с нами, заполните форму

        form(name='feedback-form').feedback__form#feedback-form
            .feedback__form-left
                input(type="text" placeholder="Имя"  name='name' id='name' required data-msg="").feedback__input
                input(type="email" placeholder="Эл. почта" name='email' required data-msg="").feedback__input
                input(type="tel" placeholder="Телефон"  name='phone').feedback__input
                select(required).feedback__select
                    option Я - пациент
                    option Я - врач или специалист
                    option Я - потенциальный инвестор
                    option Хочу к Вам присоединиться и работать в Нейро-Партнере
                    option Другое
            .feedback__form-right
                textarea(placeholder="Сообщение" name='message' required data-msg="").feedback__textarea
                button(title="Отправить" type='submit').btn.btn--all.btn--feedback Отправить
            .feedback__aftersubmit
                p.feedback__aftersubmit-text Сообщение отправлено - мы свяжемся с Вами в ближайшее время. Спасибо!