// FEEDBACK
.feedback-wrapper
    .container.feedback
        .feedback__left
            p.feedback__invite Принимаются предложения по инвестированию проектов
            p.feedback__subinvite Если вас заинтересовала наша деятельность и вы хотите сотрудничать с нами, заполните форму

        form.feedback__form
            .feedback__form-left
                input(type="text" placeholder="Имя" required spellcheck="true").feedback__input
                input(type="email" placeholder="Эл. почта" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" spellcheck="true").feedback__input
                input(type="tel" placeholder="Телефон" required pattern="(\+?\d[- .]*){7,13}" spellcheck="true" title="Международный, государственный или местный телефонный номер").feedback__input
                select(required).feedback__select
                    option Я - пациент
                    option Я - врач или специалист
                    option Я - потенциальный инвестор
                    option Хочу к Вам присоединиться и работать в Нейро-Партнере
                    option Другое
            .feedback__form-right
                textarea(placeholder="Сообщение" required spellcheck="true").feedback__textarea
                button(title="Отправить").btn.btn--all.btn--feedback Отправить