// MISSION
.mission-wrapper
    section.container.mission
        h2.mission__title Наша миссия
        p.mission__text НейроПартнер является платформой для различных видов деятельности, направленных на улучшение уровня жизни инвалидов
        .mission__img