// PROBLEMS
.container
   // Problem
   .problem
      a(href="disability.html").problem__link 1
        span.problem__link-text миллиард
        p.problem__text человек в мире имеет <br /> какую-либо форму инвалидности

   // Problem
   .problem
      a(href="disease.html").problem__link 2
        span.problem__link-text миллиона
        p.problem__text обездвиженных людей <br /> с вертеброспинальной травмой

   // Problem
   .problem
      a(href="disease.html").problem__link 50
        span.problem__link-text тысяч
        p.problem__text парализованных пациентов <br /> появляется каждый год

.impuls
