// PROJECTS
section.container
   h2.projects-title Проекты

   .projects-slider
       .owl-own-nav-projects
       .container.js-owl-projects-slider
           // Project
           section.project
              .project__icon.project__icon--multi
              h3.project__title Мультисистемная <br />нейрореабилитация
              p.project__text Проект ориентирован на отработку комплекса мультисистемной нейрореабилитации инвалидов,  в котором используются разные технологии нейропротезирования
              a(href='project-neiroreabilitation.html' title="Узнать больше о проекте Мультисистемная нейрореабилитация").project__link Узнать больше

           // Project
           section.project
              .project__icon.project__icon--coctails
              h3.project__title Нейрококтейли
              p.project__text В проекте разрабатывается группа новых нейромодулирующих препаратов для активации нейрональной пластичности: драг-дизайн молекулы, синтез химических агентов и их апробация
              a(href='project-neirococtails.html' title="Узнать больше о проекте Нейрококтейли").project__link Узнать больше

           // Project
           section.project
              .project__icon.project__icon--implants
              h3.project__title Мягкие имплантанты
              p.project__text Проект нацелен на создание электро-химического нейропротеза для имплантации в головной и спинной мозг человека
              a(href='project-softimplants.html' title="Узнать больше о проекте Мягкие имплантанты").project__link Узнать больше

           // Project
           section.project
               .project__icon.project__icon--implants
               h3.project__title Мягкие имплантанты
               p.project__text Проект нацелен на создание электро-химического нейропротеза для имплантации в головной и спинной мозг человека
               a(href='project-softimplants.html' title="Узнать больше о проекте Мягкие имплантанты").project__link Узнать больше

    a(href='projects.html' title="Все проекты НейроПартнер").btn.btn--all Все проекты

   .impuls
