include ../mixins/work
include ../mixins/video
include ../mixins/patent
// Tabs
ul.small-menu.js-article-tabs
    li.small-menu__item
        a(href='#articles-tab' title='Статьи').js-find-articles.small-menu__link Статьи
    li.small-menu__item
        a(href='#patents-tab' title='Патенты').js-find-patents.small-menu__link Патенты
    li.small-menu__item
        a(href='#video-tab' title='Видео').js-find-video.small-menu__link Видео


.container.js-articles#articles-tab
    .our-works-slider
        .owl-own-nav-works
        .slider-container.js-owl-works-slider
            - for (var i=0; i<6; i++ )
                +work
    a(href='ourworks-articles.html' title="Все статьи НейроПартнер").btn.btn--all.m0-a Все статьи

.container.js-patents#patents-tab
    .our-patents-slider
        .owl-own-nav-patents
        .slider-container.js-owl-patents-slider
            - for (var i=0; i<6; i++ )
                +patent
    a(href='ourworks.html' title="Все патенты НейроПартнер").btn.btn--all.m0-a Все патенты

.container.js-video#video-tab
    .video-owl-slider.video-slider
        .owl-own-nav-video
        .slider-container.js-owl-video-slider
            - for (var i=0; i<6; i++ )
                +video
    a(href='ourworks.html' title="Все видео НейроПартнер").btn.btn--all.m0-a Все видео