// SLIDER
include ../mixins/slider
.slider
    .owl-own-nav
    .container.js-owl-top-slider
        // SLIDE
        a(href="neuroprosthesis.html" title="Лаборатория нейропротезов").slider__slide
            // Left block
            .slider__slide-left
                img(data-src="img/slider-image--1.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").slider__slide-image.owl-lazy
            // Right block
            .slider__slide-right
                .slider__gradient
                    img(data-src="img/np-slider-header.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").slider__neiropartner.owl-lazy
                h3.slider__text Лаборатория нейропротезов
                // Blockquote
                blockquote.slider__blockquote
                    p.slider__blockquote-text Воля - это то что заставляет тебя побеждать тогда, когда твой разум говорит тебе, что ты повержен
                    footer.slider__blockquote-footer
                        cite.slider__blockquote-cite Карлос Кастанеда

        // SLIDE
        a(href="disability.html" title="Лаборатория нейропротезов").slider__slide
            // Left block
            .slider__slide-left
                img(data-src="img/slider-image--2.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").slider__slide-image.owl-lazy
            // Right block
            .slider__slide-right
                .slider__gradient
                    img(data-src="img/np-slider-header.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").slider__neiropartner.owl-lazy
                h3.slider__text Лаборатория нейропротезов
                // Blockquote
                blockquote.slider__blockquote
                    p.slider__blockquote-text Воля - это то что заставляет тебя побеждать тогда, когда твой разум говорит тебе, что ты повержен
                    footer.slider__blockquote-footer
                        cite.slider__blockquote-cite Карлос Кастанеда

        // SLIDE
        a(href="project-softimplants.html" title="Лаборатория нейропротезов").slider__slide
            // Left block
            .slider__slide-left
                img(data-src="img/slider-image--3.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").slider__slide-image.owl-lazy
            // Right block
            .slider__slide-right
                .slider__gradient
                    img(data-src="img/np-slider-header.png" alt="НейроПартнер. Лаборатория нейропротезов" title="НейроПартнер. Лаборатория нейропротезов").slider__neiropartner.owl-lazy
                h3.slider__text Лаборатория нейропротезов
                // Blockquote
                blockquote.slider__blockquote
                    p.slider__blockquote-text Воля - это то что заставляет тебя побеждать тогда, когда твой разум говорит тебе, что ты повержен
                    footer.slider__blockquote-footer
                        cite.slider__blockquote-cite Карлос Кастанеда