mixin about-item-for-list
    section.about-item
        a(href="about-article.html" title="Спинномозговой имплантат позволяет встать на ноги").about-item__img-item
            img(data-original="img/work-img.jpg" alt="Спинномозговой имплантат позволяет встать на ноги" title="Спинномозговой имплантат позволяет встать на ноги").about-item__img.lazyload
        h3.about-item__title
            a(href="about-article.html" title="Спинномозговой имплантат позволяет встать на ноги").about-item__link Спинномозговой имплантат позволяет встать на ноги
        p.about-item__text Посредством введения химических веществ воздействуют на нейрональные рецепторы, вызывая определённые эффекты
        a(href="about-article.html" title="Спинномозговой имплантат позволяет встать на ноги").about-item__more-link Узнать больше
