mixin article
    section.work
        figure.work__img-item
            img(data-original="img/work-img.jpg" alt="Спинномозговой имплантат позволяет встать на ноги" title="Спинномозговой имплантат позволяет встать на ноги").work__img.lazyload
        h3.work__title
            a(href="article.html" title="Спинномозговой имплантат позволяет встать на ноги").work__link Спинномозговой имплантат позволяет встать на ноги
        p.work__text Посредством введения химических веществ воздействуют на нейрональные рецепторы, вызывая определённые эффекты
        a(href="article.html" title="Спинномозговой имплантат позволяет встать на ноги").work__more-link Узнать больше
