mixin partner
    a(href="javascript:void(0)" title="Швейцарская высшая техническая школа Цюриха ETH").partner
        img(data-original="svg/uzh.svg" alt="Швейцарская высшая техническая школа Цюриха ETH" title="Швейцарская высшая техническая школа Цюриха ETH").partner__logo.lazyload
        p.partner__name Швейцарская высшая техническая школа Цюриха ETH