mixin patent
    section.work
        figure.work__img-item.work__img-item--patent
            img(data-original="img/patent.jpg" alt="Спинномозговой имплантат позволяет встать на ноги" title="Спинномозговой имплантат позволяет встать на ноги").work__img.lazyload
        h3.work__title
            a(href="javascript:void(0)" title="Пат. 2418319 Российская Федерация").work__link Пат. 2418319 Российская Федерация
        p.work__text Способ моделирования и обучения лечению больных с хроническим поражением спинного мозга
        a(href="javascript:void(0)" title="Узнать больше о данной работе НейроПартнер").work__more-link Узнать больше
