mixin team
    section.work
        figure.work__img-item
            img(data-original="https://pp.vk.me/c630819/v630819731/e5bf/HCU0_keVHD0.jpg" alt="Спинномозговой имплантат позволяет встать на ноги" title="Спинномозговой имплантат позволяет встать на ноги").work__img.lazyload
        h3.work__title Лисица обыкновенная
        p.work__text Лисица, лиса, обыкнове́нная или ры́жая лиси́ца (лат. Vulpes vulpes) — хищное млекопитающее семейства псовых, наиболее распространённый и самый крупный вид рода лисиц. Длина тела 70-130 см, хвоста — 40—60 см, масса — 6—10 кг.