mixin video
    section.video-slider__item
        iframe(width="360" height="228" src="https://www.youtube.com/embed/TGoUsd-RHqU" frameborder="0" allowfullscreen).video-slider__video
        a(href="javascript:void(0)" title="Лекция №1 в лектории Университета").video-slider__video-title Лекция №1 в лектории Университета
        time(datetime="2015-09-05").video-slider__video-date 05.09.2015
    //img(src="http://placehold.it/360x228" style="width: 360px;height: 228px;")
    //video( src="https://youtu.be/TGoUsd-RHqU" preload).video-slider__item
        //sourse(src="www.youtube.com/watch?v=3bGNuRtlqAQ" type="video/mp4")

