mixin work
    section.work
        figure.work__img-item
            img(data-src="img/work-img.jpg" alt="Спинномозговой имплантат позволяет встать на ноги" title="Спинномозговой имплантат позволяет встать на ноги").work__img.owl-lazy
        h3.work__title
            a(href="javascript:void(0)" title="Спинномозговой имплантат позволяет встать на ноги").work__link Спинномозговой имплантат позволяет встать на ноги
        p.work__text Посредством введения химических веществ воздействуют на нейрональные рецепторы, вызывая определённые эффекты
        a(href="javascript:void(0)" title="Узнать больше о данной работе НейроПартнер").work__more-link Узнать больше
