/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-bottles-name: 'sprite__bottles';
$sprite-bottles-x: 438px;
$sprite-bottles-y: 47px;
$sprite-bottles-offset-x: -438px;
$sprite-bottles-offset-y: -47px;
$sprite-bottles-width: 96px;
$sprite-bottles-height: 94px;
$sprite-bottles-total-width: 1184px;
$sprite-bottles-total-height: 475px;
$sprite-bottles-image: '../img/sprite/png-sprite.png';
$sprite-bottles: (438px, 47px, -438px, -47px, 96px, 94px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__bottles', );
$sprite-directions-name: 'sprite__directions';
$sprite-directions-x: 0px;
$sprite-directions-y: 47px;
$sprite-directions-offset-x: 0px;
$sprite-directions-offset-y: -47px;
$sprite-directions-width: 145px;
$sprite-directions-height: 144px;
$sprite-directions-total-width: 1184px;
$sprite-directions-total-height: 475px;
$sprite-directions-image: '../img/sprite/png-sprite.png';
$sprite-directions: (0px, 47px, 0px, -47px, 145px, 144px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__directions', );
$sprite-email-name: 'sprite__email';
$sprite-email-x: 968px;
$sprite-email-y: 47px;
$sprite-email-offset-x: -968px;
$sprite-email-offset-y: -47px;
$sprite-email-width: 24px;
$sprite-email-height: 17px;
$sprite-email-total-width: 1184px;
$sprite-email-total-height: 475px;
$sprite-email-image: '../img/sprite/png-sprite.png';
$sprite-email: (968px, 47px, -968px, -47px, 24px, 17px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__email', );
$sprite-expirience-name: 'sprite__expirience';
$sprite-expirience-x: 0px;
$sprite-expirience-y: 314px;
$sprite-expirience-offset-x: 0px;
$sprite-expirience-offset-y: -314px;
$sprite-expirience-width: 49px;
$sprite-expirience-height: 68px;
$sprite-expirience-total-width: 1184px;
$sprite-expirience-total-height: 475px;
$sprite-expirience-image: '../img/sprite/png-sprite.png';
$sprite-expirience: (0px, 314px, 0px, -314px, 49px, 68px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__expirience', );
$sprite-facebook-name: 'sprite__facebook';
$sprite-facebook-x: 843px;
$sprite-facebook-y: 47px;
$sprite-facebook-offset-x: -843px;
$sprite-facebook-offset-y: -47px;
$sprite-facebook-width: 32px;
$sprite-facebook-height: 33px;
$sprite-facebook-total-width: 1184px;
$sprite-facebook-total-height: 475px;
$sprite-facebook-image: '../img/sprite/png-sprite.png';
$sprite-facebook: (843px, 47px, -843px, -47px, 32px, 33px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__facebook', );
$sprite-geo-name: 'sprite__geo';
$sprite-geo-x: 637px;
$sprite-geo-y: 90px;
$sprite-geo-offset-x: -637px;
$sprite-geo-offset-y: -90px;
$sprite-geo-width: 22px;
$sprite-geo-height: 30px;
$sprite-geo-total-width: 1184px;
$sprite-geo-total-height: 475px;
$sprite-geo-image: '../img/sprite/png-sprite.png';
$sprite-geo: (637px, 90px, -637px, -90px, 22px, 30px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__geo', );
$sprite-icon-consalting-bids-name: 'sprite__icon-consalting-bids';
$sprite-icon-consalting-bids-x: 535px;
$sprite-icon-consalting-bids-y: 47px;
$sprite-icon-consalting-bids-offset-x: -535px;
$sprite-icon-consalting-bids-offset-y: -47px;
$sprite-icon-consalting-bids-width: 101px;
$sprite-icon-consalting-bids-height: 77px;
$sprite-icon-consalting-bids-total-width: 1184px;
$sprite-icon-consalting-bids-total-height: 475px;
$sprite-icon-consalting-bids-image: '../img/sprite/png-sprite.png';
$sprite-icon-consalting-bids: (535px, 47px, -535px, -47px, 101px, 77px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__icon-consalting-bids', );
$sprite-ideas-name: 'sprite__ideas';
$sprite-ideas-x: 0px;
$sprite-ideas-y: 250px;
$sprite-ideas-offset-x: 0px;
$sprite-ideas-offset-y: -250px;
$sprite-ideas-width: 61px;
$sprite-ideas-height: 63px;
$sprite-ideas-total-width: 1184px;
$sprite-ideas-total-height: 475px;
$sprite-ideas-image: '../img/sprite/png-sprite.png';
$sprite-ideas: (0px, 250px, 0px, -250px, 61px, 63px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__ideas', );
$sprite-impuls-name: 'sprite__impuls';
$sprite-impuls-x: 0px;
$sprite-impuls-y: 0px;
$sprite-impuls-offset-x: 0px;
$sprite-impuls-offset-y: 0px;
$sprite-impuls-width: 1184px;
$sprite-impuls-height: 46px;
$sprite-impuls-total-width: 1184px;
$sprite-impuls-total-height: 475px;
$sprite-impuls-image: '../img/sprite/png-sprite.png';
$sprite-impuls: (0px, 0px, 0px, 0px, 1184px, 46px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__impuls', );
$sprite-investments-name: 'sprite__investments';
$sprite-investments-x: 438px;
$sprite-investments-y: 142px;
$sprite-investments-offset-x: -438px;
$sprite-investments-offset-y: -142px;
$sprite-investments-width: 60px;
$sprite-investments-height: 49px;
$sprite-investments-total-width: 1184px;
$sprite-investments-total-height: 475px;
$sprite-investments-image: '../img/sprite/png-sprite.png';
$sprite-investments: (438px, 142px, -438px, -142px, 60px, 49px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__investments', );
$sprite-knowledge-name: 'sprite__knowledge';
$sprite-knowledge-x: 777px;
$sprite-knowledge-y: 47px;
$sprite-knowledge-offset-x: -777px;
$sprite-knowledge-offset-y: -47px;
$sprite-knowledge-width: 65px;
$sprite-knowledge-height: 40px;
$sprite-knowledge-total-width: 1184px;
$sprite-knowledge-total-height: 475px;
$sprite-knowledge-image: '../img/sprite/png-sprite.png';
$sprite-knowledge: (777px, 47px, -777px, -47px, 65px, 40px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__knowledge', );
$sprite-mouse-name: 'sprite__mouse';
$sprite-mouse-x: 637px;
$sprite-mouse-y: 47px;
$sprite-mouse-offset-x: -637px;
$sprite-mouse-offset-y: -47px;
$sprite-mouse-width: 139px;
$sprite-mouse-height: 42px;
$sprite-mouse-total-width: 1184px;
$sprite-mouse-total-height: 475px;
$sprite-mouse-image: '../img/sprite/png-sprite.png';
$sprite-mouse: (637px, 47px, -637px, -47px, 139px, 42px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__mouse', );
$sprite-offers-name: 'sprite__offers';
$sprite-offers-x: 0px;
$sprite-offers-y: 192px;
$sprite-offers-offset-x: 0px;
$sprite-offers-offset-y: -192px;
$sprite-offers-width: 70px;
$sprite-offers-height: 57px;
$sprite-offers-total-width: 1184px;
$sprite-offers-total-height: 475px;
$sprite-offers-image: '../img/sprite/png-sprite.png';
$sprite-offers: (0px, 192px, 0px, -192px, 70px, 57px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__offers', );
$sprite-pagination-arrow-name: 'sprite__pagination-arrow';
$sprite-pagination-arrow-x: 993px;
$sprite-pagination-arrow-y: 47px;
$sprite-pagination-arrow-offset-x: -993px;
$sprite-pagination-arrow-offset-y: -47px;
$sprite-pagination-arrow-width: 10px;
$sprite-pagination-arrow-height: 15px;
$sprite-pagination-arrow-total-width: 1184px;
$sprite-pagination-arrow-total-height: 475px;
$sprite-pagination-arrow-image: '../img/sprite/png-sprite.png';
$sprite-pagination-arrow: (993px, 47px, -993px, -47px, 10px, 15px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__pagination-arrow', );
$sprite-philosophy-name: 'sprite__philosophy';
$sprite-philosophy-x: 146px;
$sprite-philosophy-y: 47px;
$sprite-philosophy-offset-x: -146px;
$sprite-philosophy-offset-y: -47px;
$sprite-philosophy-width: 145px;
$sprite-philosophy-height: 144px;
$sprite-philosophy-total-width: 1184px;
$sprite-philosophy-total-height: 475px;
$sprite-philosophy-image: '../img/sprite/png-sprite.png';
$sprite-philosophy: (146px, 47px, -146px, -47px, 145px, 144px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__philosophy', );
$sprite-phone-name: 'sprite__phone';
$sprite-phone-x: 942px;
$sprite-phone-y: 47px;
$sprite-phone-offset-x: -942px;
$sprite-phone-offset-y: -47px;
$sprite-phone-width: 25px;
$sprite-phone-height: 27px;
$sprite-phone-total-width: 1184px;
$sprite-phone-total-height: 475px;
$sprite-phone-image: '../img/sprite/png-sprite.png';
$sprite-phone: (942px, 47px, -942px, -47px, 25px, 27px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__phone', );
$sprite-principles-name: 'sprite__principles';
$sprite-principles-x: 292px;
$sprite-principles-y: 47px;
$sprite-principles-offset-x: -292px;
$sprite-principles-offset-y: -47px;
$sprite-principles-width: 145px;
$sprite-principles-height: 144px;
$sprite-principles-total-width: 1184px;
$sprite-principles-total-height: 475px;
$sprite-principles-image: '../img/sprite/png-sprite.png';
$sprite-principles: (292px, 47px, -292px, -47px, 145px, 144px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__principles', );
$sprite-slider-arrow-name: 'sprite__slider-arrow';
$sprite-slider-arrow-x: 0px;
$sprite-slider-arrow-y: 383px;
$sprite-slider-arrow-offset-x: 0px;
$sprite-slider-arrow-offset-y: -383px;
$sprite-slider-arrow-width: 28px;
$sprite-slider-arrow-height: 92px;
$sprite-slider-arrow-total-width: 1184px;
$sprite-slider-arrow-total-height: 475px;
$sprite-slider-arrow-image: '../img/sprite/png-sprite.png';
$sprite-slider-arrow: (0px, 383px, 0px, -383px, 28px, 92px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__slider-arrow', );
$sprite-twitter-name: 'sprite__twitter';
$sprite-twitter-x: 876px;
$sprite-twitter-y: 47px;
$sprite-twitter-offset-x: -876px;
$sprite-twitter-offset-y: -47px;
$sprite-twitter-width: 32px;
$sprite-twitter-height: 33px;
$sprite-twitter-total-width: 1184px;
$sprite-twitter-total-height: 475px;
$sprite-twitter-image: '../img/sprite/png-sprite.png';
$sprite-twitter: (876px, 47px, -876px, -47px, 32px, 33px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__twitter', );
$sprite-vkontakte-name: 'sprite__vkontakte';
$sprite-vkontakte-x: 909px;
$sprite-vkontakte-y: 47px;
$sprite-vkontakte-offset-x: -909px;
$sprite-vkontakte-offset-y: -47px;
$sprite-vkontakte-width: 32px;
$sprite-vkontakte-height: 33px;
$sprite-vkontakte-total-width: 1184px;
$sprite-vkontakte-total-height: 475px;
$sprite-vkontakte-image: '../img/sprite/png-sprite.png';
$sprite-vkontakte: (909px, 47px, -909px, -47px, 32px, 33px, 1184px, 475px, '../img/sprite/png-sprite.png', 'sprite__vkontakte', );
$spritesheet-width: 1184px;
$spritesheet-height: 475px;
$spritesheet-image: '../img/sprite/png-sprite.png';
$spritesheet-sprites: ($sprite-bottles, $sprite-directions, $sprite-email, $sprite-expirience, $sprite-facebook, $sprite-geo, $sprite-icon-consalting-bids, $sprite-ideas, $sprite-impuls, $sprite-investments, $sprite-knowledge, $sprite-mouse, $sprite-offers, $sprite-pagination-arrow, $sprite-philosophy, $sprite-phone, $sprite-principles, $sprite-slider-arrow, $sprite-twitter, $sprite-vkontakte, );
$spritesheet: (1184px, 475px, '../img/sprite/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
