/***************************************************/
/* Set custom or change third-party SASS variables */
/***************************************************/

/* Typography */
$base-font-size: 16px;
$base-line-height: 1rem;

/* Colors */
$color-header-top-line: #d8d8d8;
$color-header-top-line-strip-blue-1: #57baec;
$color-header-top-line-strip-blue-2: #3ea4d7;
$color-header-top-line-strip-blue-3: #237fc8;
$color-header-top-line-strip-blue-4: #003a92;
$color-header-top-line-wrapper: #fff;
$color-header-menu-link: #6d6d6d;
$color-header-lang: #4b4b4b;
$color-header-lang-hover: #2853ce;
$color-header-menu-link-hover: #2d54c2;
$color-header-menu-link-bg-partnership: #8fbc42;
$color-header-menu-link-bg-partnership-hover: #639a20;
$color-header-menu-link-bg-contacts: #81868b;
$color-header-menu-link-bg-contacts-hover: #62666a;
$color-header-menu-link-contacts-partnership: #fff;
$color-header-shadow: #eeeeec;
$color-header-slider-bq: #949191;
$color-header-slider-text: #47494e;
$color-header-slider-dot: #c5c5c5;
$color-header-slider-dot--active: #4b4b4b;
$color-problems-link: #393939;
$color-problems-link--hover: #2d54c2;
$color-problems-text: #4b4b4b;
$color-directions-text: #4b4b4b;
$color-wrapper--grey-start: #f4f4f2;
$color-wrapper--grey-end: #d8eef9;
$color-project-block-title: #2d54c2;
$color-project-title: #4b4b4b;
$color-project-text: #4b4b4b;
$color-project-link: #2d54c2;
$color-btn: #fff;
$color-btn-bg: #8fbc42;
$color-btn-hover-shadow: #60971d;
$color-btn-bg-active: #6da40e;
$color-mission-title: #fff;
$color-mission-text: #fff;
$color-our-works-text: #4b4b4b;
$color-our-works-title: #2d54c2;
$color-work-title: #4b4b4b;
$color-work-text: #4b4b4b;
$color-work-link-hover: #2d54c2;
$color-wrapper--light-start: #f4f4f2;
$color-wrapper--light-end: #fff;
$color-partners-block-title: #2d54c2;
$color-partner-name: #4b4b4b;
$color-feedback-bg: #47494e;
$color-feedback-inputs: #fff;
$color-feedback-inputs-border: #7f8083;
$color-feedback-inputs-border-focus: #6889b1;
$color-feedback-invite: #fff;

$base-font-color: #000;

/* Media Queries Breakpoints */
$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
);



/* Sizes */
$width-container: 1148px;