.mission-wrapper{
  width: 100%;
  background-image: url(../img/mission-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 140px;
}

.mission{
  justify-content: center;

  &__title{
    @include font-family('HelveticaNeueCyr-Medium');
    font-size: 3rem;
    color: $color-mission-title;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__text{
    @include font-family('OpenSans-Bold');
    font-size: 1.31rem;
    line-height: 2rem;
    margin-bottom: 45px;
    margin-top: 0;
    color: $color-mission-text;
    text-align: center;
  }
  &__img{
    background-image: url(../img/mission.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 850px;
    height: 355px;
  }
}