.projects-title{
  @include font-family('HelveticaNeueCyr-Medium', normal, normal, sans-serif);
  font-size: 2.93rem;
  color: $color-project-block-title;
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 125px;
}

.project{
  flex: 0 0 32%;
  text-align: center;
  margin-bottom: 70px;
  &__icon{
    background-repeat: no-repeat;
    //background-size: 148px 148px;
    //width: 148px;
    //height: 148px;

    display: inline-block;
    background-size: contain;

    &--multi{
      width: 319px;
      height: 326px;
      min-height: 335px;
      background-image: url(../img/project-neiro.png);
    }
    &--coctails{
      width: 320px;
      height: 335px;
      min-height: 335px;
      background-image: url(../img/project-coctails.png);
    }
    &--implants{
      width: 218px;
      height: 325px;
      min-height: 335px;
      background-image: url(../img/project-implants.png);
    }
  }
  &__title{
    @include font-family('HelveticaNeueCyr-Medium');
    font-size: 1.56rem;
    color: $color-project-title;
    margin-bottom: 25px;
    margin-top: 1.875rem;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text{
    @include font-family('OpenSans-Regular');
    font-size: 1rem;
    line-height: 1.625rem;
    color: $color-project-text;
    text-align: left;
    margin: 0;
  }
  &__link{
    @include font-family('OpenSans-Regular');
    font-size: 1rem;
    line-height: 1.625rem;
    color: $color-project-link;
    text-decoration: none;
    text-align: left;
    display: block;
    margin: 0;
  }
}

.owl-own-nav-projects{
  position: absolute;
  width: 100%;
  top: calc(50% - 46px);
  .owl-prev,.owl-next{
    position: absolute;
    cursor: pointer;
    opacity: .7;
    &:hover{  opacity: 1; }
  }
  .owl-prev{
    display: inline-block;
    @include sprite($sprite-slider-arrow);
    width: 28px;
    height: 92px;
    left: -58px;
  }
  .owl-next{
    display: inline-block;
    @include sprite($sprite-slider-arrow);
    width: 28px;
    height: 92px;
    right: -58px;
    transform: rotate(180deg);
  }
}

.projects-slider{
  position: relative;
  width: 100%;
}

.js-owl-projects-slider{
  .owl-stage-outer{
    overflow: hidden;
  }
  .owl-stage{
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .owl-item{
    visibility: hidden;
  }
  .owl-item.active{
    visibility: visible;
  }
  .owl-nav.disabled{
    display: none;
  }
}