@include mq($from: mobile, $until: tablet) {

  .container{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slider-container{
    width: 100%;
  }

  .header-top-line__wrapper{  width: 80%;  }
  .header-top-line__strip{  width: 100%;  }

  .header__lang{  top: -20px;  }

  //.header__logo-link{
  //  width: 100%;
  //  text-align: center;
  //}

  .header__logo{
    width: 230px;
    height: auto;
  }

  .header__nav{
    flex: 0 0 100%;
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
    line-height: 2rem;
    display: none;
  }

  .header__nav-item{
    flex: 0 0 100%;
    text-align: center;
  }

  .slider__neiropartner{
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .slider__text{
    font-size: 1rem;
    text-align: center;
  }

  .slider__blockquote-text{
    font-size: 1rem;
    line-height: 20px;
  }

  .problem{
    flex: 0 0 100%;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .impuls{  width: 100%;  }

  .direction{
    flex: 0 0 100%;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .consalting__left, .consalting__right {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
    padding: 0 10px;
  }

  .consalting{  padding-bottom: 10px;  }

  .consalting__title {  text-align: center;  }

  .mission{  padding: 0 50px;  }

  .mission-wrapper{  padding-bottom: 50px;  }

  .feedback{  flex-wrap: wrap;  }

  .feedback-wrapper{  padding-top: 10px;  }

  .feedback__left, .feedback__form {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .feedback__left{
    margin-right: 0;
  }

  .feedback__form-left{
    width: 30%;
    flex: 0 0 30%;
  }
  .feedback__form-right{
    width: calc(70% - 30px);
    flex: 0 0 calc(70% - 30px);
    justify-content: center;
  }

  .feedback__form{  flex-wrap: wrap;  }

  // Contacts form
  .contacts{
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
  }

  .feedback-wrapper{  padding-top: 10px;  }

  .contacts__left, .contacts__form {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .contacts__form{  flex-wrap: wrap;  }

  .contacts__form-left{
    width: 30%;
    flex: 0 0 30%;
  }
  .contacts__form-right{
    width: calc(70% - 30px);
    flex: 0 0 calc(70% - 30px);
    justify-content: center;
  }

  .contacts__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts__item{  margin-right: 10px;  }

  .contacts__item--data{  margin-left: 0;  }

  .contacts__textarea{  margin-top: 10px;  }

  .footer{
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .footer__left{
    flex: 0 0 100%;
    margin-bottom: 50px;
  }

  .footer__menu{
    display: flex;
    justify-content: space-around;
  }

  .footer__menu-item{  margin: 0;  }

  .footer__social{  text-align: center;  }

  .footer__copyright{  text-align: center;  }

  .footer__right{
    margin: 0;
    flex: 0 0 100%;
    text-align: center;
    align-items: center;
  }

  .footer__menu{  flex-wrap: wrap;  }

  .footer__menu-item{
    flex: 0 0 100%;
    text-align: center;
    line-height: 1.2rem;
  }

  .slider{  height: auto;  }

  .slider__slide{
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

  .slider__slide-left{  flex: 0 0 100%;  }

  .slider__slide-right{
    flex: 0 0 100%;
    margin-top: 50px;
    padding: 0 10px;
  }

  .slider__gradient{  margin: 0 auto;  }

  .project{  flex: 0 0 100%;  margin-bottom: -20px;
    margin-top: 50px;}

  .projects-slider{  padding: 0 30px;  }

  .partners-slider{  padding: 0 30px;  }

  .partner{  width: 100%;  }

  .our-works-slider{  padding: 0 30px;  }

  .our-patents-slider{  padding: 0 30px;  }

  .our-about-slider{  padding: 0 30px;  }

  .project__icon{
    width: 100%;
    height: auto;
    min-height: 125px;
  }

  .project__title{
    //font-size: 0.7rem;
    font-weight: bold;
  }

  .project__text{
    font-size: 1rem;
    text-align: center;
    line-height: 1.2rem!important;
  }

  .project__link{
    text-align: center;
    line-height: 1.2rem;
    margin-top: 10px;
  }

  .owl-own-nav-works, .owl-own-nav-projects, .owl-own-nav-partners, .owl-own-nav-video, .owl-own-nav-patents, .owl-own-nav-about{  width: calc(100% - 120px);  }

  .owl-own-nav-projects .owl-prev, .owl-own-nav-projects .owl-next {
    width: 10px;
  }
  .owl-own-nav-works .owl-prev, .owl-own-nav-works .owl-next {
    width: 10px;
  }
  .owl-own-nav-partners .owl-prev, .owl-own-nav-partners .owl-next {
    width: 10px;
  }
  .owl-own-nav-video .owl-prev, .owl-own-nav-video .owl-next {
    width: 10px;
  }
  .owl-own-nav-patents .owl-prev, .owl-own-nav-patents .owl-next {
    width: 10px;
  }
  .owl-own-nav-about .owl-prev, .owl-own-nav-about .owl-next {
    width: 10px;
  }

  .owl-own-nav-about .owl-prev, .owl-own-nav-partners .owl-prev, .owl-own-nav-patents .owl-prev, .owl-own-nav-projects .owl-prev, .owl-own-nav-video .owl-prev, .owl-own-nav-works .owl-prev {
    left: -30px;
  }
  .owl-own-nav-about .owl-next, .owl-own-nav-partners .owl-next, .owl-own-nav-patents .owl-next, .owl-own-nav-projects .owl-next, .owl-own-nav-video .owl-next, .owl-own-nav-works .owl-next {
    right: -90px;
  }

  .video-slider{  padding: 0 30px;  }

  .owl-item.active{
        display: flex;
        justify-content: center;
  }

  .video-slider__item{ width: 100%;  }

  .impuls{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .consalting__right{  padding: 0 10px;  }

  .consalting__text{  text-align: center;  }

  .consalting__link{  text-align: center;  }

  .mission__title{  text-align: center;  }

  .mission__text{  margin: 0;  }

  .contacts__form-left, .contacts__form-right{  flex: 0 0 100%;  }

  .feedback__form-left, .feedback__form-right{  flex: 0 0 100%;  }

  .feedback__textarea{  margin-top: 10px;  }

  .work{  width: 100%;  }

  .patent{  width: 100%;}

  .about-item{  width: 100%;}

  .article__left, .article__right {
    width: 100%;
    //flex: 0 0 100%;
    margin-bottom: 50px;
    padding: 0 10px;
  }

  .submenu{  margin-top: 55px;  }

  .submenu__item{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .submenu__link{  font-size: (20 / $base-font-size) + rem;  }

  .small-menu{  text-align: center;  }

  .paper__img{
    width: 100%;
    object-fit: contain;
  }

  .paper__source a{
    font-size: 10px;
  }

  .header-toggler{
    display: flex;
  }

  .owl-own-nav{
    display: none;
  }

  .btn{
    font-size: .7rem;
  }

  .js-owl-top-slider .owl-dots{
    position: relative;
    bottom: -30px;
  }
}
