@include mq($from: tablet, $until: wide) {

  .container{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slider-container{
    width: 100%;
  }

  .header__logo-link{
    width: 100%;
    text-align: center;
  }

  .header__nav{
    flex: 0 0 100%;
    justify-content: space-around;
    padding: 0;
  }

  .impuls{  width: 100%;  }

  .consalting__title {  text-align: center;  }

  .mission{  padding: 0 50px;  }

  .mission-wrapper{  padding-bottom: 50px;  }

  .feedback{  flex-wrap: wrap;  }

  .feedback__left, .feedback__form {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .feedback__form-left{
    width: 30%;
    flex: 0 0 30%;
  }

  .feedback__form-right{
    width: calc(70% - 30px);
    flex: 0 0 calc(70% - 30px);
  }

  .contacts{  flex-wrap: wrap;  }

  .contacts__left, .contacts__form{
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .contacts__form-left{
    width: 30%;
    flex: 0 0 30%;
  }

  .contacts__form-right{
    width: calc(70% - 30px);
    flex: 0 0 calc(70% - 30px);
  }

  .contacts__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__item{  margin-right: 10px;  }

  .contacts__item--data{  margin-left: 0;  }

  .footer{  flex-wrap: wrap;  }

  .footer__left{
    flex: 0 0 100%;
    margin-bottom: 50px;
  }

  .footer__menu{
    display: flex;
    justify-content: space-around;
  }

  .footer__menu-item{  margin: 0;  }

  .footer__social{  text-align: center;  }

  .footer__copyright{  text-align: center;  }

  .footer__right{
    margin: 0;
    flex: 0 0 100%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .slider{  height: auto;  }

  .slider__slide{
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

  .slider__slide-left{  flex: 0 0 100%;  }

  .slider__slide-right{
    flex: 0 0 100%;
    margin-top: 50px;
    padding: 0 50px;
  }

  .slider__gradient{  margin: 0 auto;  }

  .project{  flex: 0 0 50%;  }

  .projects-slider{  padding: 0 100px;  }

  .partners-slider{  padding: 0 100px;  }

  .our-works-slider{  padding: 0 100px;  }

  .our-patents-slider{  padding: 0 100px;  }

  .our-about-slider{  padding: 0 100px;}

  .video-slider{  padding: 0 100px;  }

  .owl-item.active{
        display: flex;
        justify-content: center;
  }

  .owl-own-nav-works, .owl-own-nav-projects, .owl-own-nav-partners, .owl-own-nav-video, .owl-own-nav-patents, .owl-own-nav-about{  width: calc(100% - 200px);  }

  .video-slider__item{  width: 100%;  }

  .submenu{
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    padding: 0;
    margin-top: 55px;
  }

  .js-owl-top-slider .owl-dots{
    position: relative;
    bottom: -30px;
  }
}
