.slider{
  background: url("../img/slider-bg.png") no-repeat;
  background-size: cover;
  margin-bottom: 125px;
  height: calc(100vh - 195px);
  position: relative;
  min-height: 500px;

  &__slide{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    height: calc(100vh - 195px);
    align-items: center;
    text-decoration: none;
    min-height: 500px;
  }
  &__slide-left{
    flex-basis: 50%;
    text-align: center;
  }
  &__slide-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
  }
  &__slide-image{
    position: relative;
    //top: -15px;
    object-fit: contain;
    height: calc(100vh - 195px);
    max-height: 800px;
    min-height: 305px;
    //width: 100%;
    max-width: 100%;
  }
  &__gradient{
    text-align: right;
  }
  &__gradient-text{
    @include font-family('HelveticaNeueCyr-Medium');
    font-size: 4.8125rem;
  }
  &__neiropartner{

  }
  &__text{
    @include font-family('HelveticaNeueCyr-Light');
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-header-slider-text;
    font-weight: lighter;
    letter-spacing: 1.3px;
    text-align: right;
  }
  &__blockquote{
    margin-left: 20px;
  }
  &__blockquote-text{
    @include font-family('Georgia-Italic');
    text-align: left;
    font-size: 1.25rem;
    line-height: 40px;
    color: $color-header-slider-bq;
  }
  &__blockquote-footer{

  }
  &__blockquote-cite{
    font-size: 1.25rem;
    line-height: 40px;
    @include font-family('Georgia-Italic');
    color: $color-header-slider-bq;
    float: right;
  }
}

.js-owl-top-slider{
  .owl-stage-outer{
    overflow: hidden;
  }
  .owl-stage{
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .owl-item{
    visibility: hidden;
  }
  .owl-item.active{
    visibility: visible;
  }
  .owl-dots{
    //position: absolute;
    //bottom: -35px;
    //left: 50%;
    display: table;
    margin: 0 auto;
    margin-top: 13px;
    .owl-dot{
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $color-header-slider-dot;
      margin: 0 12px;
      cursor: pointer;
      &.active{
        background-color: $color-header-slider-dot--active;
      }
    }
  }
  .owl-nav.disabled{
    display: none;
  }
}

.owl-own-nav{
  position: absolute;
  width: 100%;
  top: calc(50% - 46px);
  //display: none;
  .owl-prev,.owl-next{
    position: absolute;
    cursor: pointer;
    opacity: .7;
    &:hover{  opacity: 1; }
  }
  .owl-prev{
    @include sprite($sprite-slider-arrow);
    display: inline-block;
    width: 28px;
    height: 92px;
    left: 25px;
  }
  .owl-next{
    @include sprite($sprite-slider-arrow);
    display: inline-block;
    width: 28px;
    height: 92px;
    right: 25px;
    transform: rotate(180deg);
  }
}
