doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        main

            .wrapper.wrapper--blue2grey-light
                .container
                    include includes/breadcrumbs


            include includes/partners
            include includes/feedback-form

        include includes/_footer

        //include includes/_outdate-browers
