doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head
    body
        include includes/_if-ie
        include includes/_header
        main.wrapper.wrapper--blue2grey
            .container.contacts
                // CONTACTS
                .contacts__left
                    address.contacts__address
                        ul.contacts__list
                            li.contacts__item.contacts__item--geo
                                a(href='https://www.google.com/maps/place/%D0%9C%D0%BE%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BD%D0%B0%D0%B1.,+1,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+199397/@59.9544165,30.2093327,17z/data=!3m1!4b1!4m2!3m1!1s0x469636e062919151:0x1a601d0588a7caa9' target="_blank" title='НейроПартнер на карте').contacts__item-link СПб, Морская наб. 1, 400
                            li.contacts__item.contacts__item--email
                                a(href='mailto:info@neuropartner.ru' title='Написать в Нейро-Партнер').contacts__item-link info@neuropartner.ru
                            li.contacts__item.contacts__item--phone
                                a(href='tel:7(981) 81 65 060' title='Позвонить в Нейро-Партнер').contacts__item-link 7(981) 81 65 060
                        //ul.contacts__list
                        //    li.contacts__item.contacts__item--data ИНН: 1234567890
                        //    li.contacts__item.contacts__item--data КПП: 1234567890
                        //    li.contacts__item.contacts__item--data ОГРН: 1234567890
                        //    li.contacts__item.contacts__item--data р/с: 1234567890 в "Название банка"

                // FEEDBACK FORM
                form.contacts__form
                    h2.contacts__title Мы ждем ваших писем
                    .contacts__form-left
                        input(type="text" placeholder="Имя"  name='name' id='name' required data-msg="").contacts__input
                        input(type="email" placeholder="Эл. почта" name='email' required data-msg="").contacts__input
                        input(type="tel" placeholder="Телефон"  name='phone').contacts__input
                        select(required).contacts__select
                            option Я - пациент
                            option Я - врач или специалист
                            option Я - потенциальный инвестор
                            option Хочу к Вам присоединиться и работать в Нейро-Партнере
                            option Другое
                    .contacts__form-right
                        textarea(placeholder="Сообщение" name='message' required data-msg="").contacts__textarea
                        button(title="Отправить" type='submit').btn.btn--all.btn--feedback Отправить
                    .contacts__aftersubmit
                        p.contacts__aftersubmit-text Сообщение отправлено - мы свяжемся с Вами в ближайшее время. Спасибо!

        include includes/_footer--contacts
        include includes/_outdate-browers