doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        main
            include includes/slider
            include includes/problems
            include includes/directions
            .wrapper.wrapper--grey
                include includes/projects
                include includes/consalting
            include includes/mission
            include includes/our-works
            include includes/partners
            include includes/feedback-form

        include includes/_footer

        //include includes/_outdate-browers
