doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head
    body
        include includes/_header
        main.wrapper.wrapper--blue2grey-light
            .container.article-wrapper
                // Submenu
                ul.submenu
                    li.submenu__item
                        a(href='nervous-system.html' title='Нервная система').submenu__link Нервная система
                    li.submenu__item
                        a(href='disease.html' title='Заболевания').submenu__link Заболевания
                    li.submenu__item
                        a(href='disability.html' title='Проблема инвалидности').submenu__link Проблема инвалидности
                    li.submenu__item
                        a(href='neuroprosthesis.html' title='Нейропротезы').submenu__link.submenu__link--active Нейропротезы

                h1.h1-title Нейропротезы

                // Article
                article.article
                    .article__left
                        ul.article__list
                            li.article__list-item
                                p.article__text.
                                    Нейропротезирование утраченных функций нервной системы является одним из эффективных, постоянно развивающихся направлений <a href="javascript:void(0) title="нейрореабилитации">нейрореабилитации</a>
                            li.article__list-item
                                p.article__text.
                                    Научный прогресс в области биоматериалов, хирургических технологий, <a href="javascript:void(0) title="медицинской кибернетики">медицинской кибернетики</a> и <a href="javascript:void(0) title="робототехники"">робототехники</a> позволил вывести возможности искусственного воздействия на нервно-мышечный аппарат на принципиально новый уровень
                            li.article__list-item
                                p.article__text.
                                    Одним из важнейших направлений нашей работы является создание <a href="javascript:void(0) title="робототехники">электрохимических нейропротезов</a>
                    .article__right
                        img(src="img/neuroprosthesis.png" alt="Нейропротезы" title="Нейропротезы").article__right-img

        include includes/partners
        include includes/feedback-form
        include includes/_footer
        include includes/_outdate-browers
