include mixins/work
include mixins/patent
include mixins/about-item
doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head
    body
        include includes/_header
        main.wrapper.wrapper--blue2grey-light
            .container.our-works

                // Submenu
                ul.submenu
                    li.submenu__item
                        a(href='ourworks-articles.html' title='Статьи').submenu__link.submenu__link--active Статьи
                    li.submenu__item
                        a(href='ourworks-patents.html' title='Патенты').submenu__link Патенты
                    li.submenu__item
                        a(href='ourworks-about.html' title='О Нас').submenu__link О нас

                // Articles
                h2.h1-title Статьи
                .our-works-slider
                    .owl-own-nav-works
                    .slider-container.js-owl-works-slider
                        - for (var i=0; i<6; i++ )
                            +work
                a(href='ourworks-articles.html' title="Все проекты НейроПартнер").btn.btn--all Все статьи
                .impuls

                // Patents
                h2.h1-title Патенты
                .our-patents-slider
                    .owl-own-nav-patents
                    .slider-container.js-owl-patents-slider
                        - for (var i=0; i<6; i++ )
                            +patent
                a(href='ourworks-patents.html' title="Все патенты НейроПартнер").btn.btn--all Все патенты
                .impuls

                // About
                h2.h1-title О нас
                .our-about-slider
                    .owl-own-nav-about
                    .slider-container.js-owl-about-slider
                        - for (var i=0; i<6; i++ )
                            +about-item
                a(href='ourworks-about.html' title="Все проекты НейроПартнер").btn.btn--all Все статьи


        include includes/partners
        include includes/feedback-form
        include includes/_footer
        include includes/_outdate-browers
