include mixins/work
include mixins/video
include mixins/patent
include mixins/project-infoblock
doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head
    body
        include includes/_header
        main.wrapper.wrapper--blue2grey-light
            .container.article-wrapper
                // Submenu
                ul.submenu
                    li.submenu__item
                        a(href='project-neiroreabilitation.html' title='Нервная система').submenu__link.submenu__link--active Мультисистемная нейрореабилитация
                    li.submenu__item
                        a(href='project-neirococtails.html' title='Заболевания').submenu__link Нейрококтейли
                    li.submenu__item
                        a(href='project-softimplants.html' title='Проблема инвалидности').submenu__link Мягкие имплантанты
                h1.h1-title Мультисистемная нейрореабилитация
                // Article
                article.article
                    .article__left
                        ul.article__list
                            li.article__list-item
                                p.article__text.
                                    Проект ориентирован на отработку комплекса мультисистемной нейрореабилитации инвалидов, в котором используются разные технологии нейропротезирования
                            li.article__list-item
                                p.article__text.
                                    Для достижения синергичного эффекта применяются несколько подходов воздействия на нейронные сети при поражениях нервной системы: электрическая и химическая стимуляция головного и спинного мозга, неинвазивная сенсорная стимуляция, тренировка двигательных задач с применением робототехнических эмуляторов опорно-двигательного аппарата
                            li.article__list-item
                                p.article__text.
                                    В результате проекта предполагается найти алгоритмы для персонального подбора технологий и методов, наиболее подходящих для определенного пациента
                    .article__right
                        img(src="img/projects-neiroreabilitation.jpg" alt="Мультисистемная нейрореабилитация" title="Мультисистемная нейрореабилитация").article__right-img

                // Infoblock
                +project-infoblock('Проект основывается на ряде предшествующих патентов и экспериментальных статей')

                include includes/project-tabs

        include includes/partners
        include includes/feedback-form
        include includes/_footer
        include includes/_outdate-browers
