doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head
    body
        include includes/_if-ie
        include includes/_header
        main
            .wrapper.wrapper--grey
                // PROJECTS
                section.container
                    h1.h1-title Проекты


                    // Project
                    section.project
                            //.project__icon.project__icon--multi
                            a(href="project-neiroreabilitation.html" title='Мультисистемная нейрореабилитация').project__icon
                                img(src="img/project-neiro.png").project__img
                            a(href='project-neiroreabilitation.html').project__title Мультисистемная <br />нейрореабилитация
                            p.project__text Проект ориентирован на отработку комплекса мультисистемной нейрореабилитации инвалидов,  в котором используются разные технологии нейропротезирования
                            a(href='project-neiroreabilitation.html' title="Узнать больше о проекте Мультисистемная нейрореабилитация").project__link Узнать больше

                    // Project
                    section.project
                            //.project__icon.project__icon--coctails
                            a(href="project-neirococtails.html" title='Нейрококтейли').project__icon
                                img(src="img/project-coctails.png").project__img
                            a(href='project-neirococtails.html').project__title Нейрококтейли
                            p.project__text В проекте разрабатывается группа новых нейромодулирующих препаратов для активации нейрональной пластичности: драг-дизайн молекулы, синтез химических агентов и их апробация
                            a(href='project-neirococtails.html' title="Узнать больше о проекте Нейрококтейли").project__link Узнать больше

                    // Project
                    section.project
                            //.project__icon.project__icon--implants
                            a(href="project-softimplants.html" title='Мягкие имплантанты').project__icon
                                img(src="img/project-implants.png").project__img
                            a(href='project-softimplants.html').project__title Мягкие имплантанты
                            p.project__text Проект нацелен на создание электро-химического нейропротеза для имплантации в головной и спинной мозг человека
                            a(href='project-softimplants.html' title="Узнать больше о проекте Мягкие имплантанты").project__link Узнать больше

                    // Project
                    section.project
                            //.project__icon.project__icon--implants
                            a(href="project-softimplants.html" title='Мягкие имплантанты').project__icon
                                img(src="img/project-implants.png").project__img
                            a(href='project-softimplants.html').project__title Мягкие имплантанты
                            p.project__text Проект нацелен на создание электро-химического нейропротеза для имплантации в головной и спинной мозг человека
                            a(href='project-softimplants.html' title="Узнать больше о проекте Мягкие имплантанты").project__link Узнать больше

                    // Project
                    section.project
                            //.project__icon.project__icon--coctails
                            a(href="project-neirococtails.html" title='Нейрококтейли').project__icon
                                img(src="img/project-coctails.png").project__img
                            a(href='project-neirococtails.html').project__title Нейрококтейли
                            p.project__text В проекте разрабатывается группа новых нейромодулирующих препаратов для активации нейрональной пластичности: драг-дизайн молекулы, синтез химических агентов и их апробация
                            a(href='project-neirococtails.html' title="Узнать больше о проекте Нейрококтейли").project__link Узнать больше

                    // Project
                    section.project
                            //.project__icon.project__icon--implants
                            a(href="project-softimplants.html" title='Мягкие имплантанты').project__icon
                                img(src="img/project-implants.png").project__img
                            a(href='project-softimplants.html').project__title Мягкие имплантанты
                            p.project__text Проект нацелен на создание электро-химического нейропротеза для имплантации в головной и спинной мозг человека
                            a(href='project-softimplants.html' title="Узнать больше о проекте Мягкие имплантанты").project__link Узнать больше

            include includes/partners
            include includes/feedback-form
        include includes/_footer
        //include includes/_outdate-browers